/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Urbanist:wght@734&display=swap');

/* General Body Styling */
body {
  margin: 0;
  height: auto;
  /* background: black; */
  /* background: linear-gradient(45deg, #000d19, #000000, #000911); */
  position: relative;
  background-attachment: fixed;
  background-size: 400% 400%;
  display: grid;
  place-items: center;
  overflow-x: hidden;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  /* animation: moveGradient 11s ease infinite; */
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
      opacity: 0.3; /* Dim effect */
  }
  to {
      opacity: 1;
  }
}
/* Keyframes for moving the background gradient */
/* @keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
/* @media (max-width: 968px) {
  body {
    width: 850px;
    left: 385px;
    transform: none;
    text-align: center; /* Center the content within the header */
  

.hero-section {
  position: absolute;
  text-align: left;
  padding: 20px;
  top: 250px;
  left: 80px;
  max-width: 400px;
  

}

.intro {
  font-family: sans-serif;
  font-size: 1.2rem;
  background: linear-gradient(171deg, #44c7ff,#00ccffc7); /* Gradient colors */
  -webkit-background-clip: text; /* Clip the background to text */
  -webkit-text-fill-color: transparent; /* Make text transparent */
  margin-bottom: 10px;
}
.typing-text {
  font-family: sans-serif;
  font-size: 2rem;
  color: white;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides the overflowing text */
  border-right: 3px solid #d6ff00; /* Typing cursor */
  width: 0; /* Start with no width */
  animation: typing 5s steps(20, end) infinite, blink 0.6s infinite;
}

.typing-text span {
  font-family: sans-serif;
  text-shadow: 0px 3px 5px rgb(255, 233, 154);
  color: #ffe100;
}

@keyframes typing {
  0% {
      width: 0; /* Start with no text visible */
  }
  50% {
      width: 17ch; /* Text fully typed */
  }
  100% {
      width: 0; /* Reset to no text */
  }
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}


.description {
  font-family: "Exo 2", sans-serif;
  font-size: 1rem;
  color: #a5a5a5d8; /* Light gray text */
  margin: 20px 0;
  line-height: 1.6;
}

.hire-btn{
  --border-width:1px;
  
  position: relative;
  font-family: sans-serif;
  background-color: #000000; /* Neon yellow button */
  text-decoration: none;
  color: #e0e0e0; /* Black text */
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 9px;
  transition: all 0.3s ease;
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(0, 100%, 79%),
        hsl(268, 100%, 80%),
        hsl(314, 100%, 90%),
        hsl(358, 100%, 86%),
        hsl(50, 100%, 86%),
        hsl(224, 100%, 85%),
        hsl(13, 100%, 84%),
        hsl(0, 100%, 79%)
    );
    background-size: 290% 290%;
    background-position: 0 50%;
    border-radius: 9px;
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.hire-btn:hover {
  transition: 0.3s ease-in-out;
  border-radius: 50%;
 color: #ffe0ab;
  transform: translateY(-3px);
}
.info-item1 .icon{
  position: relative;
  left: 125px;
  margin: 8px;
  font-size: 24px;
  bottom: 20px;
}

.icon a {
  color: inherit; /* Inherit the color from the parent */
  text-decoration: none; /* Remove underline */
}

.icon.instagram i {
  color: #ff2a7f; /* Instagram's primary color */
}

.icon.linkedin i {
  color: #0088ff; /* LinkedIn's primary color */
}

.icon.facebook i {
  color: #366ec3; /* Facebook's primary color */
}
.icon.whatsapp i {
  color: #00e72a; /* WhatsApp's primary color */
}
.icon.github i {
  color: #ffffff; /* WhatsApp's primary color */
}

.icon i:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.2; /* Add a hover effect */
}

@media (max-width: 768px) {
  .hero-section {
    position: absolute;
    top: 140px;
      margin: 20px auto; /* Reduce top margin for smaller screens */
      padding: 15px;
      width: 55%;
      /* height: 75%;  */
      left: 0;
      /* left: 0px; */
      border-radius: 20px;
  }
}

/* Profile card */
.card {
  background: linear-gradient(145deg, #14141498, #0000007e);
  padding: 30px 20px;
  position: relative;
  left: 32%;
  top: 50%;
  width: 280px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 10px rgba(18, 18, 18, 0.5);
}
@media (max-width: 768px) {
  .card {
    position: relative;
    top: 113%;
    left: 46.5%;
    transform: translateX(-50%);
    width: 33%;
    /* height: 70%; */
    padding: 10px;
  }
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  border: 2px solid #333;
}

.name {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.handle {
  color: #888;
  font-size: 0.85rem;
  margin-bottom: 8px;
}

.role {
  font-size: 0.95rem;
  color: #ccc;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.follow-btn {
  background: #1877f2;
  text-decoration: none;
  border: none;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.follow-btn:hover {
  background: #1465d8;
}
@media (max-width: 768px) {
  .profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 0px;
  object-fit: cover;
  border: 2px solid #333;
}
  .name {
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.handle {
  color: #888;
  font-size: 0.55rem;
  margin-bottom: 8px;
}

.role {
  font-size: 0.55rem;
  color: #ccc;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

  .follow-btn  {
    padding: 3px 7px;
    font-size: 0.6rem;
  }
  .icon-btn {
  background: none;
  border: none;
  color: #ccc;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s ease;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 15px;
}

.socials i {
  font-size: 14px;
  color: #aaa;
  transition: 0.3s ease;
  cursor: pointer;
}
.menu-modal {
  position: relative;
  top: 53%;
  left: 40%;

}
}

.icon-btn {
  background: none;
  border: none;
  color: #ccc;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
}

.icon-btn:hover {
  color: #fff;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 15px;
}

.socials i {
  font-size: 18px;
  color: #aaa;
  transition: 0.3s ease;
  cursor: pointer;
}

.socials i:hover {
  color: white;
}
.menu-modal {
  position: relative;
  top: 63%;
  left: 42%;
  background: #090909c2;
  backdrop-filter: blur(10px); /* Adds the glossy blur effect */
      -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border: 1px solid #333;
  border-radius: 5px 30px;
  padding: 5px 6px;
  display: none;
  z-index: 100;
  box-shadow: 0 5px 20px rgba(8, 8, 8, 0.448);
}

.menu-modal.show {
  display: block;
}

.menu-modal ul {
  list-style: none;
}

.menu-modal li {
  margin: 8px 0;
}

.menu-modal a {
  position: relative;
  left: -30%;
  text-decoration: none;
  color: #ddd;
  font-size: 13px;
  transition: 0.2s ease;
}

.menu-modal a:hover {
  color: #b6b6b6;
}


.welcome {
  font-family: "Exo 2", sans-serif;
  font-size: 3vw;
  background: linear-gradient(to right, #6e3f61, #756640);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 535px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  text-shadow: 3px #001c2d;
  transform: translateX(-50%);
}
@media (max-width: 468px) {
  .welcome {
    font-size: 7vw;
  }
}
.spacer-1 {
  height: 200px; /* Adjust this height as needed */
}

.spacer-2 {
  height: 80px; /* Adjust this height as needed */
}

.spacer-5 {
  height: 20px; /* Adjust this height as needed */
}

/* @keyframes moveText {
  0% {
    transform: translateX(-100%) translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: translateX(0) translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%) translateX(-50%);
    opacity: 0;
  }
} */

/* Navbar styling */
header {
  background-color: rgba(3, 3, 3, 0.584);
  border-radius: 90px;
  border: 1px solid rgba(134, 107, 126, 0.542);
  box-shadow: 0 2px 12px #6b53619e;
 position: fixed;
 top: 2px;
 backdrop-filter: blur(10px); /* background blur effect */
      -webkit-backdrop-filter: blur(30px); /* Safari support */
  width: 55%;
  z-index: 1000;
  transition: transform 0.4s, box-shadow 3s;
}
header:hover {
  transform: translateY(5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.navbar .logo a {
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
}

/* Navbar links styling */
.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li {
  display: inline;
}
#singh{
  display: inline-block;
  font-family: bradley hand, cursive;
  color: hsla(323, 100%, 93%, 0.941);
}
#singh:hover{
  animation: bounce 0.7s ease;
  color: hsl(324, 10%, 62%);
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
   50% {
    transform: translateY(-10px); /* Adjust bounce height */
  }
}
.nav-button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 15px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  color: #dcbfd3de;
}

/* Hover effect */
.nav-button:hover {
  animation: bounce 0.7s ease;
  color: #9d8092;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
   50% {
    transform: translateY(-10px); /* Adjust bounce height */
  }
}


.nav-button:active {
  transform: translateY(1px);
}


/* Responsive Styles */
@media (max-width: 468px) {
  header {
    width: 395px;
    /* max-width: 100%; */
    /* padding: 10px; */
    border-radius: 30px;
  }
}


/* Adjust for very small screens */
@media (max-width: 480px) {
    .nav-button {
        padding: 1px 3px;
        font-size: 0.6rem;
    }
}

/* General Section Styling */

.about-section{
  color: white;
  font-family: "Exo 2", sans-serif;
  background-color: rgba(6, 6, 6, 0.793);
  align-items: center;
  max-width: 950px;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius:20px;
  border: 1px solid rgba(134, 128, 107, 0.542);
  box-shadow: 0 1px 10px #544c42c8;
transition: transform 1s, box-shadow 0.7s;
/* cursor: pointer; */
}
.about-section:hover {
transform: translateY(-30px);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.about-section:before {
background: linear-gradient(
  45deg,
  transparent 5%,
  rgba(96, 88, 72, 0.552) 90%,
  transparent 98%
);
border-radius: inherit;
content: "";
inset: 1px;
opacity: 0;
position: absolute;
transition: opacity 400ms;
z-index: 0;
}

.about-section:hover:before {
opacity: 0.3;
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.about-left {
  flex: 1 1 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 15px;
  background: rgba(0, 0, 0, 0.736);
  padding: 20px;
  border-radius: 20px;
}

.skills-grid img {
  width: 60px;
  height: 60px;
  padding: 10px;
  background: #090a0e;
  border-radius: 15px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skills-grid img:hover {
  transform: scale(1.1);
}

.about-right {
  flex: 1 1 500px;
}

.about-right h2 {
  font-size: 28px;
  color: #aaa;
  margin-bottom: 10px;
}

.about-right h3 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.highlight {
  color: #6a5acd; /* Purple/Indigo like in image */
}

.about-right p {
  font-size: 16px;
  line-height: 1.7;
  color: #ccc;
}
.skills-grid img {
  transform: rotate(45deg);
}
.skills-grid img > * {
  transform: rotate(-45deg);
}



/* Responsive Design */
@media (max-width: 768px) {
  .about-section {
    position: relative;
      margin: 20px auto; /* Reduce top margin for smaller screens */
      padding: 15px;
      width: 78%; 
      left: 0px;
      border-radius: 20px;
  }

  .about-section h2 {
      font-size: 1.5rem; /* Adjust font size for better readability */
  }

  .about-content {
      font-size: 0.9rem; /* Slightly smaller font size for compact view */
  }
}

@media (min-width: 1024px) {
  .about-section {
      margin-top: 120px; /* Additional space for larger screens */
  }

  .about-section h3 {
      font-size: 2.5rem; /* Larger heading for better emphasis */
  }
}

/* tree */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container1 {
  padding: 20px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.content1:before {
  background: linear-gradient(
    145deg,
    transparent 5%,
    rgba(111, 107, 99, 0.552) 90%,
    transparent 9%
  );
  border-radius: inherit;
  content: "";
  inset: 1px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
  }
  
  .content1:hover:before {
  opacity: 0.3;
  }

.left {
 left: -76px;
}

.right {
  left: 49.7%;
}

.content1 {
  padding: 20px;
  background-color: rgba(24, 24, 24, 0.432);;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 10px #000000;
}

.container1::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12.5px;
  background-color: #fff;
  border: 4px solid #333;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.right::after {
  left: -13px;
}

.container1 img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  background: #fff;
  padding: 5px;
  z-index: 2;
}

.left img {
  right: -90px;
}

.right img {
  left: -90px;
}

.date {
  font-size: 14px;
  color: #aaa;
  margin-top: 10px;
}

h3 {
  margin: 0;
  color: #6cb4ff;
  font-weight: bold;
  font-size: 20px;
}

h4 {
  margin: 5px 0;
  color: #ccc;
}

p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #bbb;
}

@media screen and (max-width: 768px) {
  .timeline::after {
    left: 25px;
  }

  .container1 {
    top: -55px;
    width: 40%;
    padding-left: 70px;
    padding-right: 5px;
  }

  .container1::after {
    left: 3%;
  }

  .left img{
    top: 8px;
    left: 125%;
    right: auto;
    transform: translateX(-50%);
  }
  .left{
    top: -20px;
    left: 29%;
    right: auto;
    transform: translateX(-50%);
  }
  .right{
    top: 0px;
    left: 29%;
    right: auto;
    transform: translateX(-50%);
  }
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
  }
  
  .right img {
    left: 125%;
    right: auto;
    transform: translateX(-50%);
  }
}

/* Services */
.services-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
}

.services-section h2 {
  font-size: 2.5rem;
  color: #ccc;
  margin-bottom: 50px;
  background: linear-gradient(to right, #999, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.service-card {
  background-color: rgba(3, 3, 3, 0.584);
  padding: 30px 20px;
  border-radius: 20px;
  position: relative;
  border: 0.01px solid rgba(255, 255, 255, 0.107);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.05);
  overflow: hidden;
  transition: transform 0.3s;
}
.service-card:before {
  background: linear-gradient(
    145deg,
    transparent 5%,
    rgba(111, 107, 99, 0.552) 90%,
    transparent 9%
  );
  border-radius: inherit;
  content: "";
  inset: 1px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
  }
  
  .service-card:hover:before {
  opacity: 0.3;
  }

.service-card:hover {
  transform: translateY(-10px);
}

.glow-icon {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.8;
}

.card-content {
  position: relative;
  z-index: 2;
}

.service-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  background: linear-gradient(to right, #6a5af9, #ffb700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-desc {
  color: #aaa;
  font-size: 14px;
  line-height: 1.6;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons i {
  background: #333;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  transition: 0.3s;
}

.social-icons i:hover {
  transform: scale(1.1);
}

/* Specific Glow Colors */
.uiux .glow-icon {
  background: radial-gradient(circle, #f535bf, #000000);
}

.web .glow-icon {
  background: radial-gradient(circle, #aa00ff, #000);
}

.app .glow-icon {
  background: radial-gradient(circle, #00ff6e, #000);
}

/* Icon Colors */
.uiux .social-icons i {
  background-color: #a83788;
}

.web .social-icons i {
  background-color: #8339a8;
}

.app .social-icons i {
  background-color: #2fab65;
}

/* Skill Section */

.container5 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.main-heading {
  font-size: 36px;
  font-weight: bold;
  color: #aaa;
  }

.main-heading span {
  background: linear-gradient(to right, #8b5cf6, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* skills */

.cards {
  display: flex;
  gap: 90px;
  justify-content: center;
  align-items: center;
}


  @media (max-width: 768px) {
    .cards {
      position: relative;
      flex-direction: column;
        margin: 20px auto; /* Reduce top margin for smaller screens */
        padding: 15px;
        width: 58%; 
        /* right: 22px; */
        left: 0px;
        max-width: 100%;
        border-radius: 20px;
    }
  }
  
.card4{
  background-color: rgba(3, 3, 3, 0.584);
  border-radius: 60px 0 60px 0px;
  padding: 30px;
  width: 60%;
  text-align: left;
  border: 0.2px solid rgba(255, 255, 255, 0.107);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

.card4:hover {
  transform: translateY(-5px);
}
.card5{
  background-color: rgba(3, 3, 3, 0.584);
  border-radius: 60px 0 60px 0px;
  padding: 60px;
  text-align: left;
  border: 0.2px solid rgba(255, 255, 255, 0.107);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

.card5:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 24px;
  margin-bottom: 80px;
  background: linear-gradient(to right, #c933ff, #e5a912);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.icon {
  font-size: 26px;
  min-width: 26px;
}

.item-name {
  font-weight: bold;
  margin: 0;
}

.item-level {
  color: #aaa;
  font-size: 14px;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* project section */

.projects-section {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

.projects-section h2 {
  text-align: center;
  font-size: 40px;
  color: #bdbdbd;
  margin-bottom: 60px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.project-card {
  background-color: #09090999;
  width: 360px;
  border-radius: 60px 0 60px 0px;
  overflow: hidden;
  position: relative;
  border: 0.2px solid rgba(255, 255, 255, 0.179);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 90%;
  top: 10px;
  display: block;
  position: relative;
  left: 5%;
  border-radius: 50px 0 50px 0px;
  
}

.project-info {
  padding: 20px;
  position: relative;
}

.project-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.project-info .project-type {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 10px;
}

.project-info .project-desc {
  font-size: 14px;
  color: #bbb;
  line-height: 1.5;
  margin-bottom: 15px;
}

.tech-icons {
  display: flex;
  gap: 1px;
}

.tech-icons img {
  width: 30px;
  height: 19px;
}

.external-link {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #999;
  font-size: 18px;
  transition: color 0.2s ease;
}

.external-link:hover {
  color: #fff;
}
/* Contact Section Styling */

  .contact-container{
    --border-width:1px;
    position: relative;
    padding: 15px;
    color: #b3b3b3;
    font-weight: bold;
    font-family: "Exo 2", sans-serif;
    background-color: rgba(3, 3, 3, 0.584);
    align-items: center;
    right: 133px;
    max-width: 900px;
    width: 140%;
    text-align: center;
    background: #060606;
    border-radius: 80px 0 80px 0px;
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(0, 100%, 79%),
        hsl(268, 100%, 80%),
        hsl(314, 100%, 90%),
        hsl(358, 100%, 86%),
        hsl(50, 100%, 86%),
        hsl(224, 100%, 85%),
        hsl(13, 100%, 84%),
        hsl(0, 100%, 79%)
      );
      background-size: 290% 290%;
      background-position: 0 50%;
      border-radius: 80px 0 80px 0px;
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  .contact-container h2 {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .contact-container p {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 20px;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .info-item .icon2 {
    font-size: 1.2rem;
    color: rgb(200, 49, 129);
  }
  .info-item .icon3 {
    font-size: 1.2rem;
    color: #357edc;
  }
  
  .info-item a, 
  .info-item p {
    color: #ffffff;
    font-size: 0.9rem;
    text-decoration: none;
  }
  
  .info-item a:hover {
    text-decoration: underline;
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  #contact-form input,
  #contact-form textarea {
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #4e6175a9;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  #contact-form button {
    padding: 10px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background-color: #0375ff;
    border-radius: 20px;
    cursor: pointer;
    width: 80%;
    position: relative;
    left: 10%;
  }
  
  #contact-form button:hover {
    background-color: #001d90;
  }
  @media (max-width: 768px) {
    #contact-section {
      position: relative;
        margin: 20px auto; /* Reduce top margin for smaller screens */
        padding: 15px;
        width: 58%; 
        /* right: 22px; */
        left: 69px;
        max-width: 100%;
        border-radius: 20px;
    }
  }
  
  footer {
    background: linear-gradient(to right, #080808, #000000);
    color: #ffffff;
    padding: 5rem;
    text-align: left;
    border-radius: 20px;
    width: 70%;
    max-width: 900px;
    margin: auto;
    border: 1px solid rgba(87, 87, 87, 0.542);
  box-shadow: 0 3px 10px #414141c8;
}
  
.info-item2 .icon{
  position: relative;
  top: 50px;
  left: 28px;
  margin: 8px;
  font-size: 24px;
  bottom: 20px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left p {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.footer-right {
    display: flex;
    gap: 1.5rem;
}
.footer-right a {
    color: rgb(207, 207, 207);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}
.footer-right a:hover {
    color: #a1a1a1d3;
}
.footer-logo {
    font-size: 2rem;
    font-weight: bold;
}
/* Responsive Design */
@media(max-width:468px){
  footer{
    width: 245px;
  }
}
@media (max-width: 468px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .footer-right {
        flex-direction: column;
        gap: 0.9rem;
        margin-top: 1rem;
    }
}
:root {
  background: linear-gradient(65deg, #000000,#050505fb,#000000,#080808fa);
}

.dark-theme {
  background: linear-gradient(65deg, #000000,#0b0a00,#000000,#090900);
}

body {
  background-color: var(--bg-color);
  transition: all 0.5s ease;
}
#theme-toggle{
  position: relative;
  top: 25px;
  padding: 4px 7px;
  font-weight: bold;
  border-radius: 15px;
  background: #000000;
  color: rgba(255, 255, 255, 0.871);
  border: 1px solid rgba(142, 142, 142, 0.759);
  box-shadow: 0 2px 11px #4e4e4ec8;
  cursor: pointer;
}
.glow {
  display: flex;
  position: relative;
  top: 17%;
  left: 80.5%;
  border-radius: 50%;
  -webkit-animation: glow 1.5s linear 0s infinite alternate;
}

.particles {
  display: flex;
  position: absolute;
  top: calc(14.4% - 40px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  
}

@media (max-width: 468px) {
    .glow {
      /* display: flex; */
      position: absolute;
      top: 80.3%;
      left: 50%;
        /* flex-direction: column;
        text-align: center; */
    }
    .particles {
        position: absolute;
      top: 4%;
      left: 30%;
    }
}

.rotate {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: 50px;
  height: 50px;
}

.angle {
  position: absolute;
  top: 0;
  left: 0;
}

.size {
  position: absolute;
  top: 0;
  left: 0;
}

.position {
  position: absolute;
  top: 0;
  left: 0;
}

.pulse {
  position: absolute;
  top: 0;
  left: 0;
}

.particle {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.rotate {
  -webkit-animation: rotate 20s linear 0s infinite alternate;
}

.pulse{
  -webkit-animation: pulse 1.5s linear 0s infinite alternate;
}


@-webkit-keyframes glow {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 60px 60px #d492ecdb, 25px 15px 40px 10px #ffc7c7e4, -5px -25px 30px 5px #fff;
  }
  100% {
        transform: rotate(5deg);
    box-shadow: 0 0 90px 60px #567ff9d4, 35px 20px 40px 10px #fff, -30px -30px 40px 5px #fff;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes angle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes size {
  0% {
    -webkit-transform: scale(.2);
  }
  100% {
    -webkit-transform: scale(.6);
  }
}

@-webkit-keyframes position {
  0% {
    -webkit-transform: translate3d(0,0,0);
    opacity: 1;
  }
  50 %{
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(100px,100px,0);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.5);
  }
}

@-webkit-keyframes particle {
  0% {
    box-shadow: inset 0 0 20px 20px #0079e8, 0 0 50px 10px #0079e8, inset 0 0 80px 80px #269aff;
  }
  33.33% {
    box-shadow: inset 0 0 20px 20px #0079e8, 0 0 130px 10px #0079e8, inset 0 0 50px 50px #269aff;
  }
  33.34% {
    box-shadow: inset 0 0 20px 20px #2693ff, 0 0 50px 10px #2693ff, inset 0 0 80px 80px #52abff;
  }
  66.66% {
    box-shadow: inset 0 0 20px 20px #2693ff, 0 0 130px 10px #2693ff, inset 0 0 50px 50px #52abff;
  }
  66.67% {
    box-shadow: inset 0 0 20px 20px #485fe8, 0 0 50px 10px #485fe8, inset 0 0 80px 80px #7d71e8;
  }
  100% {
    box-shadow: inset 0 0 20px 20px #485fe8, 0 0 130px 10px #485fe8, inset 0 0 50px 50px #7d71e8;
  }
}



.rotate .angle:nth-child(1){
  /* change the angle every 2 seconds */
  -webkit-animation: angle 10s steps(5) 0s infinite;
}
.rotate .angle:nth-child(1) .size{
  /* change the size of the particle every 2 seconds */
  -webkit-animation: size 10s steps(5) 0s infinite;
}
.rotate .angle:nth-child(1) .particle{
  /* animate the glow and change the color every 2 seconds */
  -webkit-animation: particle 6s linear infinite alternate;
}
.rotate .angle:nth-child(1) .position{
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 2s linear 0s infinite;
}



.rotate .angle:nth-child(2){
  /* change the angle every 2 seconds */
  -webkit-animation: angle 4.95s steps(3) -1.65s infinite;
}
.rotate .angle:nth-child(2) .size{
  /* change the size of the particle every 2 seconds */
  -webkit-animation: size 4.95s steps(3) -1.65s infinite alternate;
}
.rotate .angle:nth-child(2) .particle{
  /* animate the glow and change the color every 2 seconds */
  -webkit-animation: particle 4.95s linear -3.3s infinite alternate;
}
.rotate .angle:nth-child(2) .position{
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 1.65s linear 0s infinite;
}


.rotate .angle:nth-child(3){
  /* change the angle every 2 seconds */
  -webkit-animation: angle 13.76s steps(8) -6.88s infinite;
}
.rotate .angle:nth-child(3) .size{
  /* change the size of the particle every 2 seconds */
  -webkit-animation: size 6.88s steps(4) -5.16s infinite alternate;
}
.rotate .angle:nth-child(3) .particle{
  /* animate the glow and change the color every 2 seconds */
  -webkit-animation: particle 5.16s linear -1.72 infinite alternate;
}
.rotate .angle:nth-child(3) .position{
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 1.72s linear 0s infinite;
}

.rotate .angle:nth-child(5) .position{
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 2.45s linear 0s infinite;
}