/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Urbanist:wght@734&display=swap');

/* General Body Styling */
body {
  margin: 0;
  height: auto;
  /* background: black; */
  /* background: linear-gradient(45deg, #000d19, #000000, #000911); */
  position: relative;
  background-attachment: fixed;
  background-size: 400% 400%;
  display: grid;
  place-items: center;
  overflow-x: hidden;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  /* animation: moveGradient 11s ease infinite; */
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
      opacity: 0.3; /* Dim effect */
  }
  to {
      opacity: 1;
  }
}
/* Keyframes for moving the background gradient */
/* @keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
/* @media (max-width: 968px) {
  body {
    width: 850px;
    left: 385px;
    transform: none;
    text-align: center; /* Center the content within the header */
  

.hero-section {
  position: absolute;
  text-align: left;
  padding: 20px;
  top: 250px;
  left: 80px;
  max-width: 400px;
  

}

.intro {
  font-family: sans-serif;
  font-size: 1.2rem;
  background: linear-gradient(171deg, #44c7ff,#00ccffc7); /* Gradient colors */
  -webkit-background-clip: text; /* Clip the background to text */
  -webkit-text-fill-color: transparent; /* Make text transparent */
  margin-bottom: 10px;
}
.typing-text {
  font-family: sans-serif;
  font-size: 2rem;
  color: white;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides the overflowing text */
  border-right: 3px solid #d6ff00; /* Typing cursor */
  width: 0; /* Start with no width */
  animation: typing 5s steps(20, end) infinite, blink 0.6s infinite;
}

.typing-text span {
  font-family: sans-serif;
  text-shadow: 0px 3px 5px rgb(255, 233, 154);
  color: #ffe100;
}

@keyframes typing {
  0% {
      width: 0; /* Start with no text visible */
  }
  50% {
      width: 17ch; /* Text fully typed */
  }
  100% {
      width: 0; /* Reset to no text */
  }
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}


.description {
  font-family: "Exo 2", sans-serif;
  font-size: 1rem;
  color: #a39888d8; /* Light gray text */
  margin: 20px 0;
  line-height: 1.6;
}

.hire-btn{
  --border-width:1px;
  
  position: relative;
  font-family: sans-serif;
  background-color: #000000; /* Neon yellow button */
  text-decoration: none;
  color: #e3d3b1; /* Black text */
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 9px;
  transition: all 0.3s ease;
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(0, 100%, 79%),
        hsl(268, 100%, 80%),
        hsl(314, 100%, 90%),
        hsl(358, 100%, 86%),
        hsl(50, 100%, 86%),
        hsl(224, 100%, 85%),
        hsl(13, 100%, 84%),
        hsl(0, 100%, 79%)
    );
    background-size: 290% 290%;
    background-position: 0 50%;
    border-radius: 9px;
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.hire-btn:hover {
  transition: 0.3s ease-in-out;
  border-radius: 50%;
 color: #ffe0ab;
  transform: translateY(-3px);
}
.info-item1 .icon{
  position: relative;
  left: 125px;
  margin: 8px;
  font-size: 24px;
  bottom: 20px;
}

.icon a {
  color: inherit; /* Inherit the color from the parent */
  text-decoration: none; /* Remove underline */
}

.icon.instagram i {
  color: #ff2a7f; /* Instagram's primary color */
}

.icon.linkedin i {
  color: #0088ff; /* LinkedIn's primary color */
}

.icon.facebook i {
  color: #366ec3; /* Facebook's primary color */
}
.icon.whatsapp i {
  color: #00e72a; /* WhatsApp's primary color */
}
.icon.github i {
  color: #ffffff; /* WhatsApp's primary color */
}

.icon i:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.2; /* Add a hover effect */
}

@media (max-width: 768px) {
  .hero-section {
    position: absolute;
    top: 140px;
      margin: 20px auto; /* Reduce top margin for smaller screens */
      padding: 15px;
      width: 55%;
      /* height: 75%;  */
      left: 0;
      /* left: 0px; */
      border-radius: 20px;
  }
}
.profile-picture {
  position: absolute;
  display: inline;
  top: 299px;
  transform: none;
  right: 110px;
  width: 200px; /* Adjust the size as needed */
  height: 200px;
  border-radius: 50%; /* Creates the circular shape */
  border: 1px solid rgba(134, 128, 107, 0.542);
  box-shadow: 0 5px 20px #7e7162c8;
  overflow: -moz-hidden-unscrollable;
  
}
/* For even smaller screens (mobile) */ 
   @media (max-width: 460px) {
    .profile-picture {
      display: grid;
      position: absolute;
      top: 295px;
    width: 100px;
    right: 30px;
    height: 100px;
  }
}

.welcome {
  font-family: "Exo 2", sans-serif;
  font-size: 3vw;
  color: hsla(30, 2%, 56%, 0.775);
  top: 550px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  text-shadow: 3px #001c2d;
  transform: translateX(-50%);
}
@media (max-width: 468px) {
  .welcome {
    font-size: 7vw;
  }
}
.spacer-1 {
  height: 200px; /* Adjust this height as needed */
}

.spacer-2 {
  height: 80px; /* Adjust this height as needed */
}

.spacer-5 {
  height: 20px; /* Adjust this height as needed */
}

/* @keyframes moveText {
  0% {
    transform: translateX(-100%) translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: translateX(0) translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%) translateX(-50%);
    opacity: 0;
  }
} */

/* Navbar styling */
header {
  background-color: #000000e1;
  border-radius: 90px;
  border: 1px solid rgba(134, 107, 126, 0.542);
  box-shadow: 0 2px 12px #6b53619e;
 position: fixed;
 top: 2px;
 backdrop-filter: blur(10px); /* background blur effect */
      -webkit-backdrop-filter: blur(30px); /* Safari support */
  width: 55%;
  z-index: 1000;
  transition: transform 0.4s, box-shadow 3s;
}
header:hover {
  transform: translateY(5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.navbar .logo a {
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
}

/* Navbar links styling */
.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li {
  display: inline;
}
#singh{
  display: inline-block;
  font-family: bradley hand, cursive;
  color: #fff1e3f0;
}
#singh:hover{
  animation: bounce 0.7s ease;
  color: hsl(30, 38%, 79%);
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
   50% {
    transform: translateY(-10px); /* Adjust bounce height */
  }
}
.nav-button {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  color: #ffffffde;
}

/* Hover effect */
.nav-button:hover {
  animation: bounce 0.7s ease;
  color: #ffffff7f;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
   50% {
    transform: translateY(-10px); /* Adjust bounce height */
  }
}


.nav-button:active {
  transform: translateY(1px);
}


/* Responsive Styles */
@media (max-width: 468px) {
  header {
    width: 379px;
    /* max-width: 100%; */
    /* padding: 10px; */
    border-radius: 30px;
  }
}


/* Adjust for very small screens */
@media (max-width: 480px) {
    .nav-button {
        padding: 2px 3px;
        font-size: 0.6rem;
    }
}

/* General Section Styling */

.about-section{
  color: white;
  font-family: "Exo 2", sans-serif;
  background-color: rgba(23, 23, 23, 0.432);
  align-items: center;
  max-width: 950px;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius:20px;
  border: 1px solid rgba(134, 128, 107, 0.542);
  box-shadow: 0 1px 10px #544c42c8;
transition: transform 1s, box-shadow 0.7s;
/* cursor: pointer; */
}
.about-section:hover {
transform: translateY(-30px);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.about-section:before {
background: linear-gradient(
  45deg,
  transparent 5%,
  rgba(96, 88, 72, 0.552) 90%,
  transparent 98%
);
border-radius: inherit;
content: "";
inset: 1px;
opacity: 0;
position: absolute;
transition: opacity 400ms;
z-index: 0;
}

.about-section:hover:before {
opacity: 0.3;
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.about-left {
  flex: 1 1 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 15px;
  background: rgba(0, 0, 0, 0.736);
  padding: 20px;
  border-radius: 20px;
}

.skills-grid img {
  width: 60px;
  height: 60px;
  padding: 10px;
  background: #13131365;
  border-radius: 15px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skills-grid img:hover {
  transform: scale(1.1);
}

.about-right {
  flex: 1 1 500px;
}

.about-right h2 {
  font-size: 28px;
  color: #aaa;
  margin-bottom: 10px;
}

.about-right h3 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.highlight {
  color: #6a5acd; /* Purple/Indigo like in image */
}

.about-right p {
  font-size: 16px;
  line-height: 1.7;
  color: #ccc;
}
.skills-grid img {
  transform: rotate(45deg);
}
.skills-grid img > * {
  transform: rotate(-45deg);
}


/* #about-sec {
    color: white;
    font-family: "Exo 2", sans-serif;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    max-width: 950px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius:20px;
    border: 1px solid rgba(134, 128, 107, 0.542);
    box-shadow: 0 1px 10px #544c42c8;
  transition: transform 1s, box-shadow 0.7s;
}
#about-sec:hover {
  transform: translateY(-30px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
#about-sec:before {
  background: linear-gradient(
    45deg,
    transparent 5%,
    rgba(126, 116, 94, 0.552) 90%,
    transparent 99%
  );
  border-radius: inherit;
  content: "";
  inset: 1px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
}

#about-sec:hover:before {
  opacity: 0.3;
}
#about-sec h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffebcb;
  font-family: "Exo 2", sans-serif;
}
#nitin {
  font-weight: bold;
  font-family: bradley hand, cursive;
  background: linear-gradient(30deg, #ff7615, #e551ff);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
}
.about-content {
  color: #a39888d8;
  font-family: "Exo 2", sans-serif;
} */

/* Responsive Design */
@media (max-width: 768px) {
  .about-section {
    position: relative;
      margin: 20px auto; /* Reduce top margin for smaller screens */
      padding: 15px;
      width: 78%; 
      left: 0px;
      border-radius: 20px;
  }

  .about-section h2 {
      font-size: 1.5rem; /* Adjust font size for better readability */
  }

  .about-content {
      font-size: 0.9rem; /* Slightly smaller font size for compact view */
  }
}

@media (min-width: 1024px) {
  .about-section {
      margin-top: 120px; /* Additional space for larger screens */
  }

  .about-section h3 {
      font-size: 2.5rem; /* Larger heading for better emphasis */
  }
}

/* tree */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container1 {
  padding: 20px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.content1:before {
  background: linear-gradient(
    145deg,
    transparent 5%,
    rgba(111, 107, 99, 0.552) 90%,
    transparent 9%
  );
  border-radius: inherit;
  content: "";
  inset: 1px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
  }
  
  .content1:hover:before {
  opacity: 0.3;
  }

.left {
 left: -76px;
}

.right {
  left: 49.7%;
}

.content1 {
  padding: 20px;
  background-color: rgba(23, 23, 23, 0.432);;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 10px #000;
}

.container1::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12.5px;
  background-color: #fff;
  border: 4px solid #333;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.right::after {
  left: -13px;
}

.container1 img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  background: #fff;
  padding: 5px;
  z-index: 2;
}

.left img {
  right: -90px;
}

.right img {
  left: -90px;
}

.date {
  font-size: 14px;
  color: #aaa;
  margin-top: 10px;
}

h3 {
  margin: 0;
  color: #6cb4ff;
  font-weight: bold;
  font-size: 20px;
}

h4 {
  margin: 5px 0;
  color: #ccc;
}

p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #bbb;
}

@media screen and (max-width: 768px) {
  .timeline::after {
    left: 25px;
  }

  .container1 {
    top: -50px;
    width: 40%;
    padding-left: 70px;
    padding-right: 5px;
  }

  .container1::after {
    left: 35px;
  }

  .left img{
    top: 50px;
    left: 290px;
    right: auto;
    transform: translateX(-50%);
  }
  .left{
    top: -230px;
    left: 97px;
    right: auto;
    transform: translateX(-50%);
  }
  .right{
    top: 90px;
    left: 97px;
    right: auto;
    transform: translateX(-50%);
  }
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 250px 0;
  }
  
  .right img {
    left: 290px;
    right: auto;
    transform: translateX(-50%);
  }
}


/* Services */
.services-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
}

.services-section h2 {
  font-size: 2.5rem;
  color: #ccc;
  margin-bottom: 50px;
  background: linear-gradient(to right, #999, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.service-card {
  background-color: rgba(23, 23, 23, 0.432);;
  padding: 30px 20px;
  border-radius: 20px;
  position: relative;
  border: 0.01px solid rgba(255, 255, 255, 0.107);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.05);
  overflow: hidden;
  transition: transform 0.3s;
}
.service-card:before {
  background: linear-gradient(
    145deg,
    transparent 5%,
    rgba(111, 107, 99, 0.552) 90%,
    transparent 9%
  );
  border-radius: inherit;
  content: "";
  inset: 1px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
  }
  
  .service-card:hover:before {
  opacity: 0.3;
  }

.service-card:hover {
  transform: translateY(-10px);
}

.glow-icon {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.8;
}

.card-content {
  position: relative;
  z-index: 2;
}

.service-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  background: linear-gradient(to right, #6a5af9, #ffb700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-desc {
  color: #aaa;
  font-size: 14px;
  line-height: 1.6;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons i {
  background: #333;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  transition: 0.3s;
}

.social-icons i:hover {
  transform: scale(1.1);
}

/* Specific Glow Colors */
.uiux .glow-icon {
  background: radial-gradient(circle, #f535bf, #000000);
}

.web .glow-icon {
  background: radial-gradient(circle, #aa00ff, #000);
}

.app .glow-icon {
  background: radial-gradient(circle, #00ff6e, #000);
}

/* Icon Colors */
.uiux .social-icons i {
  background-color: #a83788;
}

.web .social-icons i {
  background-color: #8339a8;
}

.app .social-icons i {
  background-color: #2fab65;
}

#projects {
  position: relative;
 padding: 15px;
  color: white;
  font-family: "Exo 2", sans-serif;
  background-color: rgba(18, 18, 18, 0.396);;
  align-items: center;
  max-width: 55%;
  width: 100%;
  text-align: center;
  border-radius:20px;
 border: 1px solid rgba(134, 128, 107, 0.542);
  box-shadow: 0 1px 10px #63594dc8;
  transition: transform 1s, box-shadow 0.7s;
}
#projects:hover {
  transform: translateY(-20px);
  box-shadow: 0 6px 12px rgba(48, 48, 48, 0.748);
}
#projects:before {
  background: linear-gradient(
    45deg,
    transparent 5%,
    rgba(126, 116, 94, 0.552) 90%,
    transparent 99%
  );
  border-radius: inherit;
  content: "";
  inset: 1px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
}

#projects:hover:before {
  opacity: 0.3;
}
#detail{
  place-content: center;
  color: #cb1010;
}

#projects h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffebcb;
    font-family: "Exo 2", sans-serif;
}

/* Container Styling */
.projects-container {
    display:flex;
    flex-wrap: wrap; /* Allows items to wrap to the next row if necessary */
    gap: 20px; /* Adds space between project boxes */
    justify-content: center;
}

/* Individual Project Box Styling */
.project-box {
    background-color: rgba(0, 0, 0, 0.686);
   border: 1px solid rgba(255, 254, 253, 0.126);

    font-family: "Urbanist", sans-serif;
    backdrop-filter: blur(10px)brightness(1);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 25px;
    box-shadow: 0 3px 5px #ffe5cc90;
    padding: 20px;
    max-width: 300px; /* Limits the width of each project box */
    text-align: left;
    transition: transform 0.4s, box-shadow 0.7s; /* Adds a hover effect */
}

/* Hover Effect */
.project-box:hover {
    transform: translateY(-40px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.project-box:before {
  background: linear-gradient(
    45deg,
    transparent 5%,
    rgb(117, 99, 80) 90%,
    transparent 99%
  );
  border-radius: inherit;
  content: "";
  inset: 1px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
}

.project-box:hover:before {
  opacity: 1;
}
/* Title Styling */
.project-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "Exo 2", sans-serif;
    color: #d1c5b2; /* Highlighted color for project titles */
}
.project-box a {
  --border-width:1px;
  position: relative;
  position: relative;
  left: 155px;
  background: black;
  padding: 5px 5px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(0, 0%, 0%),
      hsl(0, 0%, 0%),
      hsl(312, 100%, 50%),
      hsl(287, 17%, 78%),
      hsl(297, 31%, 76%),
      hsl(305, 100%, 63%),
      hsl(0, 0%, 0%),
      hsl(0, 0%, 0%)
    );
    background-size: 290% 290%;
    background-position: 0 50%;
    border-radius: 8px;
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.project-box a:hover{
  transition: 0.3s ease-in-out;
  border-radius: 50%;
  color: rgb(49, 135, 255);
}

/* Paragraph Styling */
.project-box p {
    font-size: 1rem;
    color: #9b9181e9;
    line-height: 1.5;
}
@media (max-width: 768px) {
  #projects {
    position: relative;
      margin: 20px auto; /* Reduce top margin for smaller screens */
      padding: 15px;
      left: 0px;
      width: 79%;
      max-width: 100%;
      border-radius: 20px;
  }
}
/* Skill Section */

#skills {
   position: relative;
   padding: 15px;
    color: white;
    font-family: "Exo 2", sans-serif;
    background-color: rgba(0, 0, 0, 0.218);
    align-items: center;
    max-width: 500px;
    width: 79%;
    text-align: center;
    border-radius:20px;
    border: 1px solid rgba(134, 128, 107, 0.542);
  box-shadow: 0 1px 10px #7e7162c8;
    transition: transform 1s, box-shadow 0.7s;
}
#skills:hover {
  transform: translateY(-30px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
#skills:before {
  background: linear-gradient(
    45deg,
    transparent 5%,
    rgba(126, 116, 94, 0.552) 90%,
    transparent 99%
  );
  border-radius: inherit;
  content: "";
  inset: 1px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
}

#skills:hover:before {
  opacity: 0.3;
}

#skills h2 {
  color: #ffebcb;
  font-family: "Exo 2", sans-serif;
  margin-bottom: 2rem;
}

/* Glossy Skills Box */
.skills-box {
  width: 300px;
  margin: 0 auto;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.545));
  border-radius: 20px;
  padding: 100px ;
  border: 1px solid rgba(255, 232, 199, 0.447);
  position: relative;
  overflow: hidden;
  transition: transform 0.4s, box-shadow 0.4s;
}
.skills-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.skills-box:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 90%;
  height: 50%;
  background: radial-gradient(circle at 30% 30%, rgba(0, 100, 117, 0.697), rgba(255, 255, 255, 0.659),rgba(177, 54, 1, 0.621));
  z-index: 0;
  transform: rotate(45deg);
  animation: glossy-glow 8s linear infinite;
}

@keyframes glossy-glow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Adjusted for smaller circles */
  gap: 1.8rem;
  justify-items: center;
  position: relative;
  z-index: 1;
}

/* Circular Progress Bar - Smaller Circles */
.circle {
  position: relative;
  width: 70px;  /* Smaller size */
  height: 70px; /* Smaller size */
  background: #0000007e;
  border-radius: 50%;
  box-shadow: 0 0px 15px rgba(148, 143, 135, 0.5), inset 0 -10px 15px rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #d43535;
  overflow: hidden;
  transition: transform 0.4s, box-shadow 0.4s;
}
.circle:hover {
  transform: translateY(-15px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.463);
}

/* Adjust skill images inside the circle */
.circle img {
  width: 60%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: auto; /* Center the image */
}

/* Animation */
.circle:hover {
  box-shadow: 0 0 15px #9e8e6c, 0 0 30px #ffdbb1ca;
}
@media (max-width: 768px) {
  #skilled {
    position: relative;
      margin: 20px auto; /* Reduce top margin for smaller screens */
      padding: 15px;
      width: 83%; 
      left: 0px;
      max-width: 100%;
      border-radius: 20px;
  }
}
@media (max-width: 768px) {
  #skills {
    left: 1px;
  }
}
/* Contact Section Styling */

  .contact-container{
    --border-width:1px;
    position: relative;
    padding: 15px;
    color: #ffebcb;
    font-family: "Exo 2", sans-serif;
    background-color: rgba(0, 0, 0, 0.418);
    align-items: center;
    right: 133px;
    max-width: 900px;
    width: 140%;
    text-align: center;
    background: #000000;
    border-radius:20px;
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(0, 100%, 79%),
        hsl(268, 100%, 80%),
        hsl(314, 100%, 90%),
        hsl(358, 100%, 86%),
        hsl(50, 100%, 86%),
        hsl(224, 100%, 85%),
        hsl(13, 100%, 84%),
        hsl(0, 100%, 79%)
      );
      background-size: 290% 290%;
      background-position: 0 50%;
      border-radius: 17px;
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  .contact-container h2 {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .contact-container p {
    font-size: 1rem;
    color: #c9a88ddc;
    margin-bottom: 20px;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .info-item .icon2 {
    font-size: 1.2rem;
    color: rgb(200, 49, 129);
  }
  .info-item .icon3 {
    font-size: 1.2rem;
    color: #357edc;
  }
  
  .info-item a, 
  .info-item p {
    color: #ffffff;
    font-size: 0.9rem;
    text-decoration: none;
  }
  
  .info-item a:hover {
    text-decoration: underline;
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  #contact-form input,
  #contact-form textarea {
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #75664ea9;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  #contact-form button {
    padding: 10px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background-color: #c09b82;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #contact-form button:hover {
    background-color: #9b7553;
  }
  @media (max-width: 768px) {
    #contact-section {
      position: relative;
        margin: 20px auto; /* Reduce top margin for smaller screens */
        padding: 15px;
        width: 58%; 
        /* right: 22px; */
        left: 69px;
        max-width: 100%;
        border-radius: 20px;
    }
  }
  
  footer {
    background: linear-gradient(to right, #0000001a, #080004db);
    color: #ffffff;
    padding: 5rem;
    text-align: left;
    border-radius: 20px;
    width: 70%;
    max-width: 900px;
    margin: auto;
    border: 1px solid rgba(134, 128, 107, 0.542);
  box-shadow: 0 5px 20px #7e7162c8;
}
  
.info-item2 .icon{
  position: relative;
  top: 50px;
  left: 28px;
  margin: 8px;
  font-size: 24px;
  bottom: 20px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left p {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.footer-right {
    display: flex;
    gap: 1.5rem;
}
.footer-right a {
    color: rgb(215, 199, 174);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}
.footer-right a:hover {
    color: #ffd28ed3;
}
.footer-logo {
    font-size: 2rem;
    font-weight: bold;
}
/* Responsive Design */
@media(max-width:468px){
  footer{
    width: 245px;
  }
}
@media (max-width: 468px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .footer-right {
        flex-direction: column;
        gap: 0.9rem;
        margin-top: 1rem;
    }
}
:root {
  background: linear-gradient(65deg, #000000,#090007,#000000,#090006);
}

.dark-theme {
  background: linear-gradient(65deg, #000000,#0e0d00,#000000,#0f0f00);
}

body {
  background-color: var(--bg-color);
  transition: all 0.5s ease;
}
#theme-toggle{
  position: relative;
  top: 25px;
  padding: 4px 7px;
  font-weight: bold;
  border-radius: 15px;
  background: #000000;
  color: rgba(255, 255, 255, 0.871);
  border: 1px solid rgba(134, 128, 107, 0.542);
  box-shadow: 0 2px 15px #7e7162c8;
  cursor: pointer;
}